@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .theme {
        background: linear-gradient(to top right, #a5b4fc 0%, #67e8f9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
